#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #01151f;
    color: #ffc;
    overflow: hidden;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #01151f;
    color: #fff;
}
.breadcrumbs {
    background: #2196f3;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}
